:root {
    --accent: #009900;
    --accent-bg: #e6f4e6;
    --bg: #fdfdfd;
    --border: #52674d;
    --header-bg: #f0f0f0;
    --code: #009900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #90ee90;
        --accent-bg: #283b28;
        --bg: #1e1e1e;
        --header-bg: #181818;
        --code: #90ee90;
    }
}

body {
    grid-template-columns: 1fr min(90rem, 90%) 1fr;
    font-size: 1.2em;
}

body > header {
    background-color: var(--header-bg);
    padding: 0 0.5rem;
    border: 1px solid var(--border);
    border-top: none;
    grid-column: 2;
}

body > header > a {
    float: left;
    text-decoration: none;
}

body > header > a > h1 {
    font-family: var(--mono-font), monospace;
    font-size: 1em;
    line-height: 3.7;
    margin: 0;
}

body > header > a > h1 > .path {
    color: var(--text-light);
}

body > header > a:hover > h1 .path {
    color: var(--accent);
}

body > header > nav {
    float: right;
}

body > header > nav ul {
    font-size: 1.2em;
}

@media only screen and (width <= 720px) {
    body > header > a {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }

    body > header > a > h1 {
        line-height: 2;
    }

    body > header > nav {
        display: block;
        width: 100%;
        padding: 0;
    }
}

body > main {
    padding: 0;
}

article {
    padding: 0 1rem;
}

article h2 {
    margin-top: 2rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.3em;
    font-family: var(--mono-font), monospace;
    font-size: 1.5rem;
}

article p {
    margin: 1rem 0;
}

body > footer {
    text-align: center;
    color: var(--text-light);
    padding: 0;
    margin: 0;
    border: none;
}

.accent {
    color: var(--accent);
}

.notice {
    border-color: var(--accent);
    margin: 1rem 0;
    text-align: center;
}
