:root {
    --sans-font: -apple-system,BlinkMacSystemFont,"Noto Sans","Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
    --accent: #009900;
    --accent-bg: #e6f4e6;
    --bg: #fdfdfd;
    --border: #52674d;
    --header-bg: #f0f0f0;
    --code: #009900;
    --marked: #009900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #90ee90;
        --accent-bg: #283b28;
        --bg: #1e1e1e;
        --header-bg: #181818;
        --code: #90ee90;
        --marked: #90ee90;
    }
}

body {
    grid-template-columns: 1fr min(90rem, 90%) 1fr;
    font-size: 1.2em;
    line-height: 2.1rem;
}

body > header {
    background-color: var(--header-bg);
    padding: 0 0.5rem;
    border: 1px solid var(--border);
    border-top: none;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

body > header > h1 {
    font-family: var(--mono-font), monospace;
    font-size: 1em;
    line-height: 3.7;
    margin: 0;
    margin-left: 0.5rem;
    cursor: default;
}

body > header > h1 > img {
    width: 1.3em;
    opacity: 1;
    vertical-align: text-bottom;
}

body > header > h1 > .path {
    color: var(--text-light);
}

body > header > .middle {
    flex: 1;
    margin: 0 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

body > header > .middle code {
    text-wrap: nowrap;
}

body > header > nav ul {
    font-size: 1.2em;
}

body > main {
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}

section h1, section h2, section h3, section h4 {
    margin: 0;
}

article {
    padding: 0 1rem;
}

article h2 {
    margin-top: 2rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.3em;
    font-family: var(--mono-font), monospace;
    font-size: 1.5rem;
}

article h3 {
    margin-bottom: 0;
}

article > time {
    color: var(--text-light);
    font-style: italic;
}

article p {
    margin: 1rem 0;
}

article.notice {
    padding: 0 1rem;
}

section > p.notice {
    margin-top: 0;
    margin-bottom: 1rem;
}

body > footer {
    text-align: center;
    color: var(--text-light);
    padding: 0;
    margin: 0;
    border: none;
}

.accent {
    color: var(--accent);
}

aside.contact-list {
    text-align: center;
    width: max-content;
    max-width: 40%;
}

aside.contact-list > h4 {
    margin-top: 1rem;
}

aside.contact-list > ul {
    list-style: none;
    padding-inline-start: 0;
}

mark {
    text-wrap: nowrap;
}

aside, details, pre, progress {
    background-color: var(--header-bg);
}

@media only screen and (width <= 1000px) {
    body > header {
        display: block;
        text-align: center;
    }

    body > header > h1 {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
        margin-left: 0;
        line-height: 2;
    }

    body > header > nav {
        display: block;
        width: 100%;
        padding: 0;
    }

    aside.contact-list {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (720px <= width <= 1000px) {
    body > header > .middle {
        margin-bottom: 0.5rem;
    }
}

@media print {
    body, p {
        font-size: 1em;
    }

    body > header {
        display: none;
    }

    .contact-list .icon {
        display: none;
    }

    section h1 {
        margin-top: 1em;
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    section h3 {
        font-size: 1.1rem;
    }

    article {
        margin: 0;
    }

    article p {
        margin: 0.5rem 0;
    }
}
